<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <h1>Feel free to click on the title, year, or country to change them.</h1>

    <!-- adding contenteditable lets you edit the text but not sure how to save the text -->
    {{#model}}
    <h3 id="title" contenteditable="true">{{title}}</h3>
    <ul>
      {{#release}}
        <span id="year" contenteditable="true">{{year}}</span>
        <span id="country" contenteditable="true">{{country}}</span>
      {{/release}}
    </ul>
    {{/model}}

    <!-- {{#model}}
      <form class="" action="/detail/{{_id}}" method="post">
        <input type="submit"  name="" value="Edit Title">
      </form>
    {{/model}} -->

    {{#model}}
      <form class="" action="/detail/{{_id}}" method="post">
        <input type="submit" name="" value="delete game">
      </form>
    {{/model}}





  </body>
</html>
