<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <h1>Feel free to change the title, year, or country.</h1>


    {{#model}}
      <form class="" action="/edit/{{_id}}" method="post">
        <input type='text' name='title' placeholder={{title}}>
        <input type="submit"  value="Edit Title">
      </form>
    {{/model}}

    {{#model}}
      {{#release}}
        <form class="" action="index.html" method="post">
          <input type="text" name="year" placeholder="{{year}}">
          <input type="submit" value="Edit Year">
          <br>
          <input type="text" name="country" placeholder="{{country}}">
          <input type="submit" value="Edit Country">
          <!-- <span id="year" contenteditable="true">{{year}}</span>
          <span id="country" contenteditable="true">{{country}}</span> -->
        </form>
      {{/release}}
    {{/model}}

    {{#model}}
      <form class="" action="/delete/{{_id}}" method="post">
        <input type="submit" name="" value="delete game">
      </form>
    {{/model}}





  </body>
</html>
